# Python-related
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.env

# Flask-related
instance/
.webassets-cache

# IDE-related
.vscode/
.idea/

# OS-related
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite

# Environment variables
.env

# Dependency management
pip-lock.txt
